@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* .text-gradient{
  background: -webkit-linear-gradient(0deg,#CF0A17 0%, #0ECFBC 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

body{
  background: #252c31;
  font-family: 'Roboto', sans-serif;
}

.Hero{
  background: url(./assets/gymBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text{
  color: #f32112;
}

#text{
  font-weight: bolder;
  color: #fff;
}
.text-main{
  font-size: 60px;
  color: #fff;
}
.upper-img{
  background: url(./assets/UpperBodyImg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.button {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
}
.button {
  --c:  #f32112; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.button:active {
  box-shadow: 0 0 9e9q inset #fff; 
  background-color: var(--c);
  color: #fff;
}
.upper-background{
  
}