@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --red:#f32112;
  --black-bg:#252c31;
}
/* .text-gradient{
  background: -webkit-linear-gradient(0deg,#CF0A17 0%, #0ECFBC 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

body{
  background: var(--black-bg);
  font-family: 'Roboto', sans-serif;
}

.Hero{
  background: url(./assets/gymBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text{
  color: var(--red);
}

#text{
  font-weight: bolder;
  color: #fff;
}
.text-main{
  font-size: 50px;
  color: #fff;
}
.upper-img{
  background: url(./assets/UpperBodyImg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.button {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
}
.button {
  --c:  var(--red); /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.button:active {
  box-shadow: 0 0 9e9q inset #fff; 
  background-color: var(--c);
  color: #fff;
}
.Upper-button{
  position: relative;
  height: 65px;
  width: 610px;
  margin: 5px 40px ;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0px;
  text-transform: uppercase;
  border: 0px solid transparent;
  outline: none;
  cursor: pointer;
  background: #0d0d0d;
  overflow: hidden;
  transition: 0.6s;
}
.Upper-button:first-child{
  color: #fff;
  border-color: var(--red);
}
.Upper-button:last-child{
  color: #fff;
  border-color: var(--red);
}
.Upper-button:before, .Upper-button:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.Uppper-button:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.Upper-button:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.Upper-button:hover:before,
.Upper-button:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.Upper-button:hover{
  color: #f2f2f2;
}
.Upper-button:hover:first-child{
  background: var(--red);
}
.Upper-button:hover:last-child{
  background: var(--red);
}
